.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  width: 40vw;
  border: 1px solid black;
  padding: 4px;
  margin: 10px;
}

body {
  background-image: url('https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2017/10/24/10/hogwarts-hall.jpg');
  align: center;
  margin: auto;
}


div {
  width: 400px;
  margin: auto;
  text-align: center;
  color: white;
}
